.debug {
    border: solid 4px red;
}
body {
    
    
    flex:1;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.dock-full {
    flex:1;
}
